/* * {
     background-color: red;
}

#h1-1{
    background-color: cornsilk;
}

#p1{
    background-color: darkolivegreen;
} */

/* .style{
    color:darkolivegreen;
    
    border-width: 2px;
    border-color: black;
    border-style: dotted;
    
} */

.styling{
    background-color: brown;
}